@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>DI with Singleton</h4>
    <div>Instance 1 @TempData["Singleton1"]</div>
    <div>Instance 2 @TempData["Singleton2"]</div>
    <div><hr /></div>

    <h4>DI with Scoped</h4>
    <div>Instance 1 @TempData["Scoped1"]</div>
    <div>Instance 2 @TempData["Scoped2"]</div>
    <div><hr /></div>

    <h4>DI with Transient</h4>
    <div>Instance 1 @TempData["Transient1"]</div>
    <div>Instance 2 @TempData["Transient2"]</div>
    <div><hr /></div>

</div>
